/* include 된 페이지에 가려지는 현상때문에 툴팁 포기 kjs */
.tooltips {
  position: relative;
  display: inline-block;    
}
/*estimate_list 1 */
.tab14, .tab24, .tab34{margin-right: 4%;}
.tab span{color: inherit;}
@media(max-width: 820px){
  .tab14, .tab24, .tab34{margin-right: 5%;}
}
@media(max-width: 420px){
  .tab14, .tab24, .tab34{margin-right: 6%;}
}


/*estimate_list 2 */
li .tooltips{font-size: 2.4rem; font-family: 'GoyangDeogyang';}
.tab .row .srch .tooltips{font-size: 2rem; font-family: 'NanumSquare';}
.col-lg-2 .tooltips .tab1sub {font-size: 2.4rem; font-family: 'GoyangDeogyang';}
.col-md-2 .tooltips .tab1sub {font-size: 2.4rem;font-family: 'GoyangDeogyang';}
.col-lg-2 .tooltips .tab2sub {font-size: 2.4rem;font-family: 'GoyangDeogyang';}
.col-md-2 .tooltips .tab2sub {font-size: 2.4rem;font-family: 'GoyangDeogyang';}
.col-lg-2 .tooltips .tab3sub {font-size: 2.4rem;font-family: 'GoyangDeogyang';}
.col-md-2 .tooltips .tab3sub {font-size: 2.4rem;font-family: 'GoyangDeogyang';}
.col-lg-2 .tooltips .tab4sub {font-size: 2.4rem;font-family: 'GoyangDeogyang';}
.col-md-2 .tooltips .tab4sub {font-size: 2.4rem;font-family: 'GoyangDeogyang';}
.col-lg-2 .tooltips .tab5sub {font-size: 2.4rem;font-family: 'GoyangDeogyang';}
.col-md-2 .tooltips .tab5sub {font-size: 2.4rem;font-family: 'GoyangDeogyang';}
/* hover*/
.col-lg-2 .tooltips .tab1sub:hover {font-size: 2.4rem;}
.col-md-2 .tooltips .tab1sub:hover {font-size: 2.4rem;}
.col-lg-2 .tooltips .tab2sub:hover {font-size: 2.4rem;}
.col-md-2 .tooltips .tab2sub:hover {font-size: 2.4rem;}
.col-lg-2 .tooltips .tab3sub:hover {font-size: 2.4rem;}
.col-md-2 .tooltips .tab3sub:hover {font-size: 2.4rem;}
.col-lg-2 .tooltips .tab4sub:hover {font-size: 2.4rem;}
.col-md-2 .tooltips .tab4sub:hover {font-size: 2.4rem;}
.col-lg-2 .tooltips .tab5sub:hover {font-size: 2.4rem;}
.col-md-2 .tooltips .tab5sub:hover {font-size: 2.4rem;}
.tab15, .tab25, .tab35, .tab45 {margin-right: 4%;}
.tab .row  li .tab1sub {display: inline;}
.tab .row  li .tab2sub {display: inline;}
.tab .row  li .tab3sub {display: inline;}
.tab .row  li .tab4sub {display: inline;}
.tab .row  li a .tab5sub {display: inline;}


@media(max-width: 768px){
.col-lg-2 .tooltips .tab1sub {font-size: 0px; color: black;}
.col-md-2 .tooltips .tab1sub {font-size: 0px; color: black;}
.col-lg-2 .tooltips .tab2sub {font-size: 0px; color: black;}
.col-md-2 .tooltips .tab2sub {font-size: 0px; color: black;}
.col-lg-2 .tooltips .tab3sub {font-size: 0px; color: black;}
.col-md-2 .tooltips .tab3sub {font-size: 0px; color: black;}
.col-lg-2 .tooltips .tab4sub {font-size: 0px; color: black;}
.col-md-2 .tooltips .tab4sub {font-size: 0px; color: black;}
.col-lg-2 .tooltips .tab5sub {font-size: 0px; color: black;}
.col-md-2 .tooltips .tab5sub {font-size: 0px; color: black;}
.tab1, .tab2, .tab3, .tab4 {margin-right:4%;}
.tab .row  li .tab1sub {display: none;}
.tab .row  li .tab2sub {display: none;}
.tab .row  li .tab3sub {display: none;}
.tab .row  li .tab4sub {display: none;}
.tab .row  li a .tab5sub {display: none;}
}
.req_list a {width: 100%;}


@media(max-width: 768px){
  .esti_list .req_list {padding: 10px 15px 10px 15px;
  margin-top: 20px ;}
  .esti_list .member .req_list {padding: 10px 15px 10px 15px;
    margin-top: 0px ;
    margin-bottom: 10px ;}
 li .tooltips {
    font-size: 1.8rem;
  }
  .info_area .end_req{
    margin-bottom:5px;}

  .info_area .ea_req{
    margin-top: 1px;
  line-height: 20px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

}
  
  .abox .status_req{
    margin-top: 3px;} 
  
}
span.tooltiptexts {
  visibility: hidden;
  text-overflow:ellipsis;
  width: 150%;
  height: 10rem;
  background-color: rgba(108, 103, 121, 0.666);    
  
  
  
  
  border-radius: 6px;
  padding: 5px 0;
  
  position: absolute;
  z-index: 1;
}

span.tooltiptexts p {   
  text-overflow:ellipsis;
  word-break:keep-all;
  font-size: 1.5rem;    
  text-align: center;
  line-height: 2.5rem;
  color: #fff;
  margin: 2rem 2rem 2rem 3rem;
}
/* include 된 페이지에 가려지는 현상때문에 툴팁 포기 kjs *수정요망 */
.tooltips:hover + span.tooltiptexts {
  visibility: hidden;
}
*/

ul.row > li > span.newconnect {
  position: absolute;
  top: -20%;
  right: 0%;
  width: 3rem;
  height: 3rem;       
  background-color: rgb(255, 111, 15);
  border-radius: 100%;
  padding: 0.5rem;
  text-align: center;
  line-height: 2rem;
  font-size: 1.8rem;    
  color: #fff;   
}

ul.row > li > span.off{ display: none;}

.noty span.newconnect {
  position: absolute;
  top: -20%;
  right: 0%;
  width: 3rem;
  height: 3rem;       
  background-color: rgb(255, 111, 15);
  border-radius: 100%;
  padding: 0.5rem;
  text-align: center;
  line-height: 2rem;
  font-size: 1.8rem;    
  color: #fff;   
}

.noty span.off{ display: none;}

.tit_desc {
  font-size: 2.4rem;
  word-break: keep-all;
  line-height: 2.4rem;    
}

.addmrg {line-height: 3.2rem ;  
}



@media(max-width: 768px){
  .tit_desc {
    font-size: 1.8rem;
    word-break: keep-all;
    line-height: 2rem;
    margin-top: 1rem;    
  }	  
.addmrg {line-height: 1.3rem ;  
}
}

.nolistatall {
  width: 100%;
  text-align: center;
  margin-top: 10%;
  font-weight: 700;
  font-size: 2.5rem;
  color: rgb(73, 71, 80);
  
}
.nolistatallx {
  width: 100%;
  text-align: center;
  margin-top: 1%;
  font-weight: 700;
  font-size: 2.5rem;
  color: rgb(73, 71, 80);
  
}

.cmwrap{margin: auto; text-align: center; display: flex;
justify-content: center; align-content: center; height: 40px;}

.cmform{
  position: relative;
  width: inherit;
  
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  align-self: center;
 }
 .cmform label{ vertical-align: middle;
  
 }

 .customer_manage{
 position: relative;
 height: 1.8rem;
 
}

.reviewtb{
  display: none;
  
  
 }
 ul.row > li > span.newconnect {
  position: absolute;
  top: -30%;
  right: 0%;
  width: 3rem;
  height: 3rem;       
  background-color: rgb(255, 111, 15);
  border-radius: 100%;
  padding: 0.5rem;
  text-align: center;
  line-height: 1.8rem;
  font-size: 1.4rem;    
  color: #fff;
  z-index: 1;   
}
@media(max-width: 768px){	 
  ul.row > li > span.newconnect {
    position: absolute;
    top: -30%;
    right: -35%;
    width: 3rem;
    height: 3rem;       
    background-color: rgb(255, 111, 15);
    border-radius: 100%;
    padding: 0.5rem;
    text-align: center;
    line-height: 2rem;
    font-size: 1.4rem;    
    color: #fff;
    z-index: 1;   
  }
}

/* 마켓 CSS 덮기 */

  
  .ha
  {
    color: black;
  } 
  td
  {font-size: 1.5rem !important;    }

  .minus10 {
    margin-bottom: 2rem!important;
  }
    #board .list_info {
  }
  @media(max-width: 768px){	  
  #board .list_info {
  padding-bottom: 0rem!important;	
  }
  .minus10 {
    margin-bottom: 3px!important;
  }
  
  
}

  .member h3{width:100%}
  .row{margin: 10px 0 0 0 ;}
  
  .tab_area .tab li{border : none; border-bottom: 1px solid #ececec; border-radius: 18px;}
  .tab_area .tab{max-width: 998px; margin: 0 auto;}
  .tab_area .tab .row{width : 998px; margin: 10px auto;}
  .tab .row{max-width: 998px; margin: 62px auto;}


  @media(max-width: 768px){
    .tab_area .tab .row{width : 998px; margin: 10px auto;}
  .tab .row{max-width: 998px; margin: auto;}
  }
  /* on 클래스명을 estimate_list1 list2 파일에도 적용시킬 것 KJS 가능하면 파라미터 처리하면 좋겠다만...*/
  .tab_area .tab .main_bg.on h4{color: #fff;}
  .tab_area .tab .on{background-color: #1379cd5e; }
  .tab_area .tab .on a{color: #fff;}
  #btn_more{display: none;}
  #tableList h3{text-align: center  !important; position: relative;}
  #tableList h3 span{position: absolute; right: 15px;}
  @media(min-width: 768px){
    #btn_more{box-shadow: none; border:0; color: transparent;}	
    #btn_more a{color: transparent;}
  }
  .noco{float: none !important; margin: auto!important; border:none !important; box-shadow: none !important;}
  .nocon{width:100%;}
  .noconicon{width: 160px;
    margin: 2rem auto 2rem;
    display: flex;
    justify-content: center;}
  .noconicon i {color: rgba(252, 152, 38, 0.527);
    display: block;
  font-size: 20rem;}
  .nocon p{width: 100%; margin: auto; color: midnightblue; box-sizing: content-box; font-size: 3rem; line-height: 3.6rem;}
  .nocon .donde{margin-top: 3vw;}
  .nocon .donde a {color: rgb(157, 161, 168); width: 100%; font-size: 2.4rem; line-height: 2.4rem;}
  .nocon .donde a i{font-size: 1.5rem;}

   @media(max-width: 768px){     
    .req_list{width: 100%; margin-left: 0 !important;} 
    #btn_more img{display: none;}
    .btm_quick ul li{width: 50%;}
    .tab_area .tab{max-width: auto; margin: 0 auto;}
  .tab_area .tab .row{width : auto; margin: 1rem auto;}
  .tab_area .tab a{font-size: 1.8rem; }
  .nocon{width:100%; }
  .noconicon{width: 160px; margin: 2rem auto 2rem; display: flex; justify-content: center;}
  .noconicon i {color: rgba(252, 152, 38, 0.527); display: block; }
  .nocon p{width: 220px; margin: auto; color: midnightblue; box-sizing: content-box;
  line-height: 2.4rem; font-size: 2.4rem;}
  .nocon .donde{width: 80vw; margin-top: 5vw;}
  .nocon .donde a {color: rgb(157, 161, 168); font-size: 2rem; line-height: 2rem;}
  .nocon .donde a i{font-size: 2rem;}

  }

  .mbtn1{
    margin: 0 20px 0 40px;
  }
  .mbtn2{
    margin: 0 30px 0 30px;
  }
  .mbtn3{
    margin: 0 40px 0 20px;
  }

  .tab_area .tab .selc  {    
    height: 3.5rem;
    background-color: #465058;
    font-size: 3rem;    
    border-radius: 8px !important;
    margin-top: 1rem;
    }

    .tab_area .tab .selc2{
      background-color: rgb(122, 108, 82);
      margin-top: 1rem;
    }

    .tab_area .tab .selc:hover{
      background-color: #1379cd7a !important;      
    }

    .tab_area .tab .selc2:hover{
      background-color: darkorange !important;      
    }

    .tab_area .tab .selc label  {margin-top: 0rem;        
      color: #fff; font-size: 2rem; line-height: 2rem;
    }
    .tab_area .tab  .selc .hlabel  {margin-top: 1.7rem !important;
    }


  @media(max-width: 768px){
    .mbtn1{
      margin: 0 0 0 0;
    }
    .mbtn2{
      margin: 0;
    }
    .mbtn3{
      margin: 0;
    }

    .tab_area .tab .selc  {
    
    height: 3.5rem;
    border: none !important;
    border-radius: 5px;;
    font-size: 3rem;
    margin-top :1rem;
    margin-right :0.5rem;
    
    
    }

    .tab_area .tab .selc2{
      margin-top :1rem;
      margin-left :0.5rem;
      
    }

    .tab_area .tab .selc:hover{
      background-color:#4ea3e9 !important;      
    }

    .tab_area .tab .selc2:hover{
      background-color: darkorange !important;      
    }

    .selc label  {margin-top: 1.2rem;        
      color: black;
    }
    .selc .hlabel  {margin-top: 1.7rem !important;
    }
  }
    
    .req_form {font-size: 3rem !important;}
    .scr_form {font-size: 3rem !important;}

   

    .controlwrap{width: 1280px;
      overflow: hidden;
      margin: auto;
    }
    .mr5 
    {margin-right: 1rem;
    }
    .gray_bg {
      display: block;
      line-height: 38px;
      text-align: center;
      border-radius: 5px;
  }

    @media(max-width: 768px){ 
      .mr5{
        margin-right: 0;
    }
    .controlwrap{
      width: auto;
    }    

    }
    .control_wrap {margin-top: 3rem;}
    .req_list .abox {
      width: 100%;
      overflow: hidden;
      

    }

    .title_req
    {font-size: 2rem; padding: 10px 0;
    width: 100; }

    @media(max-width: 768px){ 
      .control_wrap {margin-top: auto;}
       .req_list .abox {
      width: auto;
    }
    }


    .cmanage{display: none;}

    

    .title_req
    {font-size: 3rem; padding: 10px 0;
      font-family: 'GoyangDeogyang';
      color: #465058;
    width: 100; }

    #board .abox .subject {width: ;}
    #board .list_info{margin-top: 60px;}
    #board .lorder{background-color: #1379cd; color: #fff; text-align: center; height: 40px; display: flex; align-items: center; justify-content: center; 
      border-radius: 5px; font-size: 2rem;
    }

     .vermillion {background: #fe823a !important; color: #fff!important; border: none !important;}
    @media(max-width: 768px){
      .title_req
    {font-size: 2.4rem; padding: 10px 0;
    width: 100; } 
      #board .list_info{margin-top: 0px;
      padding-top: 5px;}
      
      #board .lorder{background-color: #1379cd; color: #fff; text-align: center; height: 40px; display: flex; align-items: center; justify-content: center;
       border-radius: 5px; font-size: 2rem;}

      .vermillion {background: #fe823a !important; color: #fff!important; border: none !important;} 

    }
    .sub_title .main_co a i{color: #1379cd;}

  .tab .srch {background-color: #465058; border-radius: 5px; margin-top: 1rem;}
  .tab .srch a{color: #fff;}
  .tab .srch i{position: relative; left: 3rem;}
  .bclear{ clear: both;}
  input[type=radio], input[type=checkbox] {margin: 0;}

  .reviewbuy .reviewcatebold {font-size: 1.2rem;}
  .reviewbuy .date {font-size: 1.2rem;}
  .reviewsell .reviewcatebold {font-size: 1.2rem;}
  .reviewsell .date {font-size: 1.2rem;}
  .assoff {margin-bottom: 200px;}
  .con_wrap .con span{font-size: 1.8rem;}