#slider {
    position: relative;
    overflow: hidden;
    margin: 20px auto 0 auto;
    border-radius: 4px;
  }
  
  #slider ul {
    position: relative;
    margin: 0;
    padding: 0;
    height: 200px;
    list-style: none;
  }
  #slider ul li {
  width: 380px;
  height: 700px;
  position: relative;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  background-color: rgba(215, 241, 255, 0.425);
  background: linear-gradient(180deg, rgba(215, 241, 255, 0.425) 0%, rgba(215, 241, 255, 0.425) 100%);
  text-align: center;
  line-height: 1rem;
  }
  @media(max-width: 768px){
  #slider ul li {
    position: relative;
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    width: 90vw;
    height: 80vh;
    background-color: rgba(215, 241, 255, 0.425);
    
    background: linear-gradient(180deg, rgba(215, 241, 255, 0.425) 0%, rgba(215, 241, 255, 0.425) 100%);
    
    text-align: center;
    line-height: 1rem;
  }
  }

  #sliderx {
    position: relative;
    overflow: hidden;
    margin: 20px auto 0 auto;
    border-radius: 4px;
  }
  
  #sliderx ul {
    position: relative;
    margin: 0;
    padding: 0;
    height: 200px;
    list-style: none;
  }
  
  #sliderx ul li {
    width: 380px;
    height: 700px;
    position: relative;
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    background-color: rgba(215, 241, 255, 0.425);
    background: linear-gradient(180deg, rgba(215, 241, 255, 0.425) 0%, rgba(215, 241, 255, 0.425) 100%);
    text-align: center;
    line-height: 1rem;
    }
    @media(max-width: 768px){
    #sliderx ul li {
      position: relative;
      display: block;
      float: left;
      margin: 0;
      padding: 0;
      width: 90vw;
      height: 80vh;
      background-color: rgba(215, 241, 255, 0.425);
      
      background: linear-gradient(180deg, rgba(215, 241, 255, 0.425) 0%, rgba(215, 241, 255, 0.425) 100%);
      
      text-align: center;
      line-height: 1rem;
    }
    }
  
  .newt .nomage a.control_prev,  .newt .nomage a.control_next {
    
    top: 40%;
    z-index: 999;
    display: block;
    padding: 4% 3%;
    width: auto;
    height: auto;
    background: #1379cd;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    opacity: 1;
    cursor: pointer;
    width: 100%;
  }
  
    .btn_wrap .row .line_bg
    {
        top: 40%;
        z-index: 999;
        display: block;
        padding: 4% 3%;
        width: auto;
        height: auto;
        
        color: #fff !important;
        text-decoration: none;
        font-weight: 700 !important;
        font-size: 18px !important;
        opacity:1;
        cursor: pointer;
        width: 100%;
        border: none !important;        


      }



  a.control_prev:hover, a.control_next:hover {
    opacity: 1;
    -webkit-transition: all 0.2s ease;
  }
  
  a.control_prev {
    border-radius: 0 2px 2px 0;
  }
  
  a.control_next {
    right: 0;
    border-radius: 2px 0 0 2px;
  }
  
  .slider_option {
    position: relative;
    margin: 10px auto;
    width: 160px;
    font-size: 18px;
  }

  
  .newt .nomage {padding: 0;}
  .newt .nomage .btn_wrap {padding: 0;}

  .newt .nomage .niffler{background-color:rgba(0, 0, 0, 0.733); border-radius: 10px; padding: 30px 40px 20px 40px; overflow: scroll; margin-top: 2rem;}
  @media(max-width: 411px){
    .newt .nomage .niffler {padding: 30px;}
  }
  @media(max-width: 389px){
    .newt .nomage .niffler {padding: 10px;}
  }
  
  
  .newt .nomage .niffler p{font-size: 1.8rem; line-height: 2.4rem; margin-bottom: 1rem; color: #fff; font-weight: 100; text-align: left; text-indent: -1rem; margin-left: 2rem; word-break: keep-all;} 
  .newt .nomage .niffler p span{font-size: 1.8rem; margin-right: 0.5rem; font-weight: 700; color: rgb(204, 203, 203); line-height: 2.4rem;} 

  .newt .nomage .niffler .myass{margin-bottom: 0rem; margin-top: 0.5rem;} 
  .newt .nomage .niffler .wtsup {padding-left: 1rem; margin-bottom: 1rem;}
  .newt .nomage .niffler .wtsup .uwin{font-weight:100; line-height:0.5rem; font-size: 1.6rem; margin-bottom: 0rem; color: rgb(204, 203, 203);} 
  .newt .nomage .niffler .wtsup .uwin span{font-weight:400; font-size: 1.6rem; line-height: 2rem;} 
  .newt .nomage .niffler .wtsup .uwin .ninja{color: transparent;} 

  .newt .fallout{ padding: 0; background-color: #1379cd; height: 4rem;}

.newt .fallout .cufflinks{ color: #fff; font-size: 3rem; text-align: center;}
.newt .nomage .niffler .vermil{color:#ffef0f; font-weight: 700;} 
.newt .nomage .btn_wrap{margin: 20px 10px;}

#esti_guide .modal-dialog{width: 500px;}
@media(max-width: 768px){
  .newt .nomage .btn_wrap{margin: 0;}
  #esti_guide .modal-dialog{width: auto }
}