#blog{margin-top: 140px;}
.check_detail .detail_list_area{padding: 0;}
.check_detail .list_data td.top_tit{text-align: center; font-family: 'NanumSquare'; font-size: 2.4rem;}
.bline{border-top: 3px solid #3684c6 !important;}
.check_detail .list_data td.top_info th{width: 25%; font-size: 1.8rem;  font-family: 'NanumSquare'; color: black; padding-left: 15px;}
.check_detail .list_data td.top_info td{font-size: 1.8rem;  font-family: 'NanumSquare'; color: black; padding-left: 15px; font-weight: 700;}
.check_detail .list_data td.top_info td span{font-size: 1.8rem;  font-family: 'NanumSquare'; font-weight: 700;}
.check_detail .list_data td.payment_info th{font-size: 1.8rem;  font-family: 'NanumSquare'; color: black; padding-left: 15px;}

.check_detail .list_data td.payment_info td.left{width: 25%; font-size: 1.8rem;  font-family: 'NanumSquare'; color: black; padding-left: 15px; }
.check_detail .list_data td.payment_info td.right{font-size: 1.8rem;  font-family: 'NanumSquare';padding-right: 15px; font-weight: 700;}
.check_detail .list_data td.payment_info tr.total td.left{width: 25%; font-size: 2.4rem;  font-family: 'NanumSquare'; color: black; padding-left: 15px; }
.check_detail .list_data td.payment_info tr.total td.right{font-size:2.4rem;  font-family: 'NanumSquare';padding-right: 15px; font-weight: 700; color:#ff6f0f ;}
.fake2 input[type="button"]{margin: 0; float: right; font-size: 1.8rem; padding: 2px 5px;}


.check_detail .list_data td.delivery_info th{width: 25%; font-size: 1.8rem;  font-family: 'NanumSquare'; color: black; padding-left: 15px;}
.check_detail .list_data td.delivery_info td.cell_h{width: 25%; font-size: 1.8rem; font-weight: 400; font-family: 'NanumSquare'; color: black; padding-left: 0;}
.check_detail .list_data td.delivery_info td{font-size: 1.8rem;  font-family: 'NanumSquare'; color: black; padding-left: 15px; font-weight: 700;}
.check_detail .list_data td.prd_info th{width: 25%; font-size: 1.8rem;  font-family: 'NanumSquare'; color: black; padding-left: 15px;}
.check_detail .list_data td.order_list ul li.price_each td.left{width: 25%; font-size: 1.8rem;  font-family: 'NanumSquare'; color: black; padding-left: 15px; }
.check_detail .list_data td.order_list ul li.price_each td.right{font-size: 1.8rem;  font-family: 'NanumSquare'; color: black; padding-right: 15px; font-weight: 700;}
.check_detail .list_data td.order_list ul li.name{font-size: 1.8rem;  font-family: 'NanumSquare'; color: black; padding-left: 15px; border-bottom: none; }
.check_detail .list_data td.order_list ul{border-bottom: none;}
.check_detail .list_data td.order_list ul li.name a{font-size: 2rem; font-weight: 700; color:#1379cd; font-family: 'GoyangDeogyang';
}
.canc {width: 100%;}
.canc .right a.Btn_orderlist5{  
        font-size: 1.8rem;
        background-color: #465058;
        border-radius: 5px;
    padding: 2px 5px;}

@media(min-width:769px){.check_detail .list_data td.top_info td
 {text-align: right;}   


}    