#blog{margin-top: 140px;}
.check_guest .guest_log{padding: 0;}
.fixbar{display: none!important;}
.bottom_btn {
    width: 100%;
    margin: 40px 0;
    text-align: center;
    display: inline-block;
    position: relative;
}
.check_guest .guest_log .bottom_btn a{    border-top: 1px solid #ddd !important;
    left: 0px !important;
    bottom: 0px !important;
    width: 100% !important;
    background: #1379cd !important;
    color: #fff !important;
    display: flex;
    justify-content: center !important;
    align-items: center !important;
    padding: 0;
    position: fixed;
    font-size: 2.4rem;
    font-weight: 400;
    height: 5.6rem;
    border-radius: 5px;}

.check_guest .guest_log h2{font-size: 2.4rem; font-weight: 700; font-family: 'NanumSquare';}
.check_guest .guest_log th{font-size:1.8rem; width: 20%; padding-left: 20px;}
.check_guest .guest_log td{padding-right: 25px;}
.check_guest .guest_log td input{font-size: 1.6rem;}
.check_guest .guest_log td.text_info{font-size: 2rem;}

@media(min-width:769px){
.check_guest .guest_log .bottom_btn a{    border-top: 1px solid #ddd !important;
    left: 0px !important;
    bottom: 0px !important;
    width: 100% !important;
    background: #1379cd !important;
    color: #fff !important;
    display: flex;
    justify-content: center !important;
    align-items: center !important;
    padding: 0;
    position: relative;
    font-size: 2.4rem;
    font-weight: 400;
    height: 5.6rem;
    border-radius: 5px;}
}