.order_area h3.tit{display: block; float: left; margin: 0; font-size: 1.6rem; font-family: 'NanumBarunGothic'; font-weight: 700; color:#000;
margin-top: 20px; line-height: 1.6rem; margin-left: 1rem;
}
.cartcntwrap{float: left; margin-top: 20px; line-height: 1.6rem; font-size: 1.6rem; font-family: 'NanumBarunGothic'; margin-left: 1rem;}
.cartcntwrap .cartcnt{font-weight: 700; color: rgb(242, 101, 34);}
#blog{margin-top: 70px;}


.order_area ul.data_cell li.prd_photo {width: 20vw; height: 20vw; margin-left: 1rem; padding: 0;}
.order_list_area ul.data_cell li.prd_photo a {height: 100%;  display: flex; align-content: center;}
.data_cell .prd_photo a img{object-fit: cover; height: 100%; align-self:center;}
.order_area ul.data_cell li.prd_name_option{width: 68vw; float: left; padding:0; padding-left: 1rem; border-right: none;}
.order_area ul.data_cell li.sell_p{width: 60vw; text-align: left; color: rgb(126, 125, 125); float: left; padding-left: 1rem; border-right: none;
font-size: 2rem; font-weight: 700;
}
.order_list_area ul.data_cell li.prd_name_option div {margin-bottom: 0; padding-top: 2px; font-size: 2rem; line-height:2rem; font-weight: 700; font-family: 'GoyangDeogyang';
color:#1379cd;}
.order_list_area ul.data_cell li.sell_p span{color: rgb(126, 125, 125);}
.order_area ul.data_cell li.btn{width: 30vw; margin-top: 0;}
.order_list_area ul.data_cell li.btn a.order{font-size: 1.8rem; width: 47%; border-radius: 5px;
     background-color: #fe8e3a !important; color: #fff !important; border: none !important; box-sizing: border-box;}
.order_list_area ul.data_cell li.btn a.del{font-size: 1.8rem; width: 47%; border-radius: 5px;
    background-color: #465058 !important; color: #fff !important; border: none !important; box-sizing: border-box;}
.order_area ul.data_cell{margin-top: 0px; padding: 20px 2% 0 2%;}
.order_list_area{margin-top: 10px;}
.m_amount_of_payment table th {font-size: 1.8rem;}
.m_amount_of_payment table td {font-size: 1.8rem;}
.m_amount_of_payment table td span.total{font-size: 2.4rem;}
.fixbar{display: none !important;}
.order_area .bottom_btn .btn1{
font-size: 2.4rem;
    width: 51%;
    height: 5.6rem;
    line-height: 5.6rem;
    border-radius: 5px;
    font-weight: 400;
}

.order_area .bottom_btn a.btn2{
font-size: 2.4rem;
    width: 51%;
    height: 5.6rem;
    line-height: 5.6rem;
    border-radius: 5px;
    font-weight: 400;
    background-color: #fe8e3a;
    border: 1px solid #fe8e3a;
}
.order_area .bottom_btn a.btn2:hover{background-color: #a48d80; border: 1px solid #a48d80; color: #fff;}
.order_area .bottom_btn a.btn1:hover{background-color: #646477 !important; color: #fff; border: 1px solid #646477;}


.order_area .bottom_btn{margin: 0;}
.deliinfo{text-align: left;}
.m_amount_of_payment{margin: 20px 0 0 0;}
.deliinfo{font-size: 1.8rem; font-weight: 700;}
.deliinfo .innerbox{ font-size: 1.8rem; font-weight: 400; line-height: 2.2rem; color: #545a5f;}
.amount_of_payment{display: block;}

.order_list_area ul.data_cell{border-top: 1px solid #e0e0e0;}
.order_area .joinInfo{box-sizing: border-box;}

.order_area .joinInfo h3, .order_area .order_user h3, .order_area .delivery_info h3{font-size: 1.8rem;}
.order_area .delivery_info h3 a{font-size: 1.8rem; font-family:'NanumSquare'; }
.site-wrapper .order_area .order_user table input {width: 85%;}
.site-wrapper .order_area .delivery_info table tr input {width: 85%;}
.site-wrapper .order_area .delivery_info table tr textarea {width: 85%;}
.order_area .delivery_info table .d_day th{width: 1%;}
.order_area .order_user table th{font-size: 1.8rem;}
.order_area .delivery_info table th{font-size: 1.8rem;}
.deliinfo2{text-align: center; font-size: 1.8rem; font-weight: 700;}
.order_area .bottom_btn .product_fix_btn {
    border-top: 1px solid #ddd !important;
    left: 0px !important;
    bottom: 0px !important;
    width: 100% !important;
    background: #1379cd !important;
    color: #fff !important;
    display: flex;
    justify-content: center !important;
    align-items: center !important;
    padding: 0;
    position: fixed;
    font-size: 2.4rem;
    font-weight: 400;
    height: 5.6rem;
    border-radius: 5px;
}
.order_area .joinInfo .user_select{font-size: 1.8rem; font-weight: 700;}
.order_area .delivery_info table .u_post th{vertical-align: top; padding-top: 22px;}
.order_area .delivery_info table tr.u_post a{font-size: 1.8rem; font-family:'NanumSquare';}



@media(min-width:769px){
    .order_area ul.header_cell li.prd_info{width:50%;}
    .order_area ul.header_cell li.order_p{width: 15%;}
    .order_area ul.header_cell li.sell_p{width: 50%; }
    .order_area ul.data_cell{margin-top: 0px; padding: 20px 0 0 0;}
    .order_area ul.data_cell li.prd_photo {width: 10%; height: auto; max-height: 120px; display: table-cell; text-align: center;}
    .order_list_area ul.data_cell li.prd_photo a {display: flex; align-content: center; max-height: 120px; width: 120px; margin: auto;}
    .data_cell .prd_photo a img{object-fit: cover; align-self:center; max-height: 120px;  width: 100%;}
    .order_area ul.data_cell li.prd_name_option{width: 40%; float: none; padding-left: 1rem; border-right: none; height: auto; display: table-cell;vertical-align: middle; text-align: center;}
    .order_area ul.data_cell li.order_p{width:15%; text-align: left; color: rgb(126, 125, 125); float: none; padding-left: 1rem; border-right: none; font-size: 1.6rem; padding-right: 2rem;}
    .order_area ul.data_cell li.order_p2{width:10%; text-align: center; color: rgb(126, 125, 125); float: none; padding-left: 1rem; border-right: none; font-size: 1.6rem; padding-right: 2rem;}
    .order_list_area ul.data_cell li.prd_name_option a {margin-bottom: 0; padding-top: 2px; font-size: 1.8rem; line-height:2rem; font-weight: 700; font-family: 'GoyangDeogyang';
    color:#1379cd;}
    .order_list_area ul.data_cell li.order_p span{color: rgb(126, 125, 125);}
    .order_area ul.data_cell li.btn{width: 15%; margin-top: 0;}   
    .order_area .bottom_btn{margin: 10rem 0;} 
    .order_area .bottom_btn .btn1{
        font-size: 2.4rem;
            width: 40%;
            height: 5.6rem;
            line-height: 5.6rem;
            border-radius: 5px;
            font-weight: 400;
        }
    .order_area .bottom_btn a.btn2{
      font-size: 2.4rem;
         width: 40%;
         height: 5.6rem;
         line-height: 5.6rem;
         border-radius: 5px;
         font-weight: 400;
         background-color: #fe8e3a;
         border: 1px solid #fe8e3a;
            }

.order_area ul.data_cell li.sell_p{width: 50%; text-align: center; color: rgb(126, 125, 125); float: none; padding-left: 1rem; border-right: none; box-sizing: border-box; display: table-cell;}

.m_amount_of_payment{display: block; text-align: right;}
.m_amount_of_payment table{width: 100%;}
.m_amount_of_payment table th{width: 80%;}
.m_amount_of_payment table td{width: 20%;}
.order_area .bottom_btn .product_fix_btn {
    border-top: 1px solid #ddd !important;
    left: 0px !important;
    bottom: 0px !important;
    width: 50% !important;
    background: #1379cd !important;
    color: #fff !important;
    display: flex;
    justify-content: center !important;
    align-items: center !important;
    padding: 0;
    position: relative;
    font-size: 2.4rem;
    font-weight: 400;
    height: 5.6rem;
    border-radius: 5px;
    margin: auto;
}
.site-wrapper .order_area .delivery_info table tr input {width: 85%;}
.site-wrapper .order_area .delivery_info table tr #deliv_zip {margin-right: 15%;}
.site-wrapper .order_area .delivery_info table tr textarea {width: 85%;}
}