.swiper-container-android .swiper-slide, .swiper-wrapper{text-align: center;}
.mob_slider .bx-wrapper .bx-controls-direction a{z-index: 999;}
input#input_photo1_file,
input#input_photo2_file,
input#input_photo3_file,
input#input_photo4_file,
input#input_photo5_file,
input#input_photo6_file{height: 180px !important;}
.estimate_image_bg img{max-height: 180px;}
.ma,.pe{margin-right: 10px;}
dd .pe{margin-left: 15px;}
#board .view .info dt,
#board .view .info dd,
#mobileInfo2 .col-xs-1,
#mobileInfo2 .col-xs-11{height: 43px;}
#divTotalAmt{margin-top: 12px;}
#frmpricedetail p{margin-bottom: 10px;}
#frmpricedetail #content{margin-bottom: 20px; padding: 10px;}
.warning a{padding: 10px 0; font-size: 14px;}
#desc_pe{white-space: nowrap;}
.swiper-slide-active{margin-right: 5vw;}
.swiper-slide-prev{padding-right:5vw;}
@media(max-width: 768px){
    .estimate_image_bg img{max-height: 124px;}
    .estimate_image_click_bg{margin-bottom: 10px;}
    .modal_table .title{line-height: 24px;}
    h3{font-size: 20px;}
    .btn_wrap .col-xs-12 a{font-size: 2rem;}
}