.sorryforyourinconvenience{margin-top: 2rem; margin-bottom: 2rem; font-size: 1.8rem; font-weight: 700; color:#465058;}
.visible-xs{display: none;}
.product-view .product-img-box .product-image img.soldout{filter: brightness(33%);}
.prd_name .prd_name_title {    
    font-family: 'GoyangDeogyang';
    color: #1379cd;        
    font-size: 3rem !important;
    line-height: 3rem;    
}
table.prd_info .sale_price td.info_data{font-weight: 700}
.seller_info_content{justify-content:left;}
.seller_info_left{padding-left: 40px;}
.seller_info_btn{padding-right: 20px;}

table.prd_info .prd_name td{padding: 0; }

table.prd_info .sale_price td.info_data{padding: 0; color: #465058; font-family: 'GoyangDeogyang';}


.product-block-inner .gallery-image{
    height: auto;
    background-color: #fff;

}

.product-block-inner .gallery-image .lwrap{
    display: flex;
    min-height: 180px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;    
  
} 
.product-block-inner .gallery-image a img{
border: none;    
height: 280px;    

}

.gallery-image > span > a{
    display: flex;
    flex-direction: column;
    height: auto;
    min-height: 40px;
}

.gallery-image > span > a >p,
.product-block-inner .price-box{
    padding-left: 5px;
    width: 90%;
   
}

.slider-item .product-block
{height: auto !important;
 min-height: 250px;
 padding-bottom: 0;   
}
.gallery-image .gallery_box_img{object-fit: cover; width: 100%; height: 280px;}
#cbp-vm .slider-item{margin-bottom: 3rem;}
.order_btn_area a.order_btn1{font-size: 2.4rem;}
.order_btn_area a.sel {
    width: 66%;
    float: left;
    color: #fff;
    background: #1379cd;
    border: 1px solid #1379cd;
    margin-right: 5%;}
.order_btn_area a.order_btn2{font-size: 2.4rem;}
/*상품상세정보 외 2종 탭 */

.prd_detail_tabs li{
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    background-color: white;
    }
    
    .prd_detail_tabs li.Mouse_over_tab a{
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        border-top: 2px solid #1379cd;
        border-left: 2px solid #1379cd;
        border-right: 2px solid #1379cd;
        color: black;
    
    }
    
    .prd_detail_tabs li a {background: none;
    border: none;
    background-color: #fafafa;
    border-bottom: 2px solid #1379cd;
    padding: 1.6rem 0 0 0;
    font-family:  'GoyangDeogyang';
    font-size: 2rem;
    color: #928f8f;
    
    }
    
    
    .prd_detail_title {
    
        display: block;
        color: #ff6f0f;
        font-weight: 700;
        font-size: 2rem;
        margin-top: 20px;
        margin-bottom: 5px;
        margin-left: 15px;
        letter-spacing: -0.15rem;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        line-height: 2rem;
        border-bottom: none;
    }
    
    
    .prd_detail_content{
        padding: 1rem;
        font-size: 1.8rem;
        width: 95%;
    
    }
    
    
    .oolimmobilemenu .wrp{
        width: 95%;
        padding: 1rem;
        font-size: 1.8rem;
    }
    
    .oolimmobilemenu .wrp h3{display: block;
        color: #ff6f0f;
        font-weight: 700;
        font-size: 2rem;
        margin-top: 10px;
        margin-bottom: 5px;
        margin-left: 5px;
        letter-spacing: -0.15rem;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        line-height: 2rem;
        border-bottom: none;}
    
    .oolimmobilemenu .wrp .subtit{font-weight: 700; margin-top: 1rem; margin-bottom: 0.5rem; margin-left: 10px;}
    .oolimmobilemenu .wrp p{margin-bottom: 0.5rem; padding-left: 10px; width: 95%; line-height:3rem;}
    .product-carousel .product-block2{margin: 0; box-sizing: border-box;}
    .product-block2 a{width: 100%; height: 58px;}
    .product-block2 a img{width: 100%; height:58px; object-fit: cover;}




@media (max-width: 768px) {
#cbp-vm .slider-item{margin-bottom: 0;}
.seller_info_content{justify-content: center;}
.seller_info_left{padding-left: 0px;}
.seller_info_btn{padding-right: 10px;}
.sorryforyourinconvenience{font-size: 1.8rem; font-weight: 700; text-align: center; color:#465058; margin-top: 0; margin-bottom: 0;}
 .visible-xs{display: block;}
 .prd_name .prd_name_title {    
    font-family: 'NanumSquare';
    color: #414141;        
    font-size: 2.4rem !important;
    line-height: 1.11;
    font-weight: 700;    
}


.order_btn_area a.order_btn1, .order_btn_area a.order_btn2 {    
    font-size: 2.4rem;
    width : 51%;
    height: 5.6rem;
    line-height: 5.6rem;
    border-radius: 5px;
    font-weight: 400;
}

.order_btn_area a.sel {
    width: 100%;
    font-size: 2.4rem;
}

.toptitbox{margin-top: 70px;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
.toptitbox a {position: relative; left: 0px;
width: 5%;
display: flex;}
.toptitbox .toptitle{
    width: 95%;    
font-family: 'GoyangDeogyang';
color: #1379cd;
text-align: center;
display: flex;
justify-content: center;
font-size: 2.4rem !important;
line-height: 2.4rem;
height: auto;

}



#blog{margin-top: 40px;}
.seller_info .seller_info_content{
    justify-content: left;    
}
.seller_info .seller_info_left{
    margin-left: 20px;
}

.seller_info .seller_info_btn{
    margin-right: 10px;
}

.product-shop .seller_info{
  width: auto;  
}

.product-block2_mobile_box .product-image #wrap{border: 1px solid #fafafa; box-shadow: 2px 3px 5px #ccc; padding: 10px; border-radius: 5px;
    width: 90vw;    

}

.product-block2_mobile_box .product-image img{
    max-height: 40vh;
        background-color: #fff;        
}

.info_data_big img{
    max-height: 10vh;
    margin: auto;
}

.product-block2_mobile_box img.itemview_detialimg_samll{
    width: 13.5vw; height: 13.5vw; object-fit: cover;
}

/*상품상세정보 외 2종 탭 */

.prd_detail_tabs li{
border-top-left-radius: 30px;
border-top-right-radius: 30px;
background-color: white;
}

.prd_detail_tabs li.Mouse_over_tab a{
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-top: 2px solid #1379cd;
    border-left: 2px solid #1379cd;
    border-right: 2px solid #1379cd;
    color: black;

}

.prd_detail_tabs li a {background: none;
border: none;
background-color: #fafafa;
border-bottom: 2px solid #1379cd;
padding: 2.6rem 0 0 0;
font-family:  'GoyangDeogyang';
font-size: 2rem;
color: #928f8f;

}


.prd_detail_title {

    display: block;
    color: #ff6f0f;
    font-weight: 700;
    font-size: 2rem;
    margin-top: 20px;
    margin-bottom: 5px;
    margin-left: 15px;
    letter-spacing: -0.15rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    line-height: 2rem;
    border-bottom: none;
}


.prd_detail_content{
    padding: 1rem;
    font-size: 1.8rem;
    width: 95%;

}


.oolimmobilemenu .wrp{
    width: 95%;
    padding: 1rem;
    font-size: 1.8rem;
}

.oolimmobilemenu .wrp h3{display: block;
    color: #ff6f0f;
    font-weight: 700;
    font-size: 2rem;
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 5px;
    letter-spacing: -0.15rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    line-height: 2rem;
    border-bottom: none;}

.oolimmobilemenu .wrp .subtit{font-weight: 700; margin-top: 1rem; margin-bottom: 0.5rem; margin-left: 10px;}
.oolimmobilemenu .wrp p{margin-bottom: 0.5rem; padding-left: 10px; width: 95%; line-height:3rem;}




/*	
.qna_iframe_table tbody{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.qna_iframe_tr{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33%;
	border: 1px solid #ededed !important;
    border-radius: 10px;
    box-shadow: 2px 3px 5px #ccc;
}

.qna_iframe_tr{
    	display: flex;
		flex-direction: column;
		align-items: center;
		
		border: 1px solid #ededed !important;
		border-radius: 10px;
		box-shadow: 2px 3px 5px #ccc;
		margin-left: 1%;
		margin-bottom: 1%;        
}

*/

.qna_iframe_tr .titq{font-size: 1.6rem; display: flex; flex-direction: row;}
.qna_iframe_tr .titq a
{font-size: 1.8rem; text-align: center; margin: auto; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; display:block; width: 90%;}
.qna_iframe_tr .titq img {width: 10%; object-fit: none;}
.flx{display: flex; flex-direction: row;}
.nom{width: 33%; font-size: 1.6rem; color: #928f8f;}
.dat{width: 33%; font-size: 1.6rem; color: #928f8f;}
.lab{width: 33%; font-size: 1.6rem; color: #928f8f;}

.lab .minibox_btn02_chomini_black{font-size: 1.6rem; font-family: 'NanumSquare';}
.lab .minibox_btn03_chomini_black{font-size: 1.6rem; font-family: 'NanumSquare'; background-color: #465058 ;}
.askwrap {margin-top: 20px; width: 100%;}
.askwrap .ask {width: 100%;}
.askwrap .ask .btn-type2_view{background-color: #1379cd; width: 100%; padding: 0; font-size: 1.8rem;}


/*product_qna_view.php 문의글 조회 with KJS dnace 20220316*/
.fxtb{margin-bottom: 50px;
    padding-bottom: 50px;
border: 2px solid #9c9d9e3b;
border-radius: 10px;
box-shadow: 2px 3px 5px #ccc;
display: flex;justify-content: center;
width :100%;
background-color: rgba(255, 250, 228, 0.377);
}

.fxtb td{padding: 0 10px 0 10px;}

.fxtb .infotit{
display: block;
color: #fe8e3a;
font-weight: 700;
font-size: 2rem;
margin-top: 20px;
margin-bottom: 5px;
margin-left: 5px;
letter-spacing: -0.15rem;
line-height: 2rem;
border-bottom: none;
font-family: 'NanumSquare';
}

.fxtb  .subtit{
    font-weight: 700;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    margin-left: 10px;
    font-size: 1.8rem;
    font-family: 'NanumSquare';
    padding-left: 20px;
}

.fxtb .subtit span{
    margin-right: 2rem;
    
}


.fxtb  .txtbx{
    margin-bottom: 0.5rem;
    padding-left: 10px;
    width: 95%;
    line-height: 3rem;
    font-size: 1.8rem;
    font-family: 'NanumSquare';
    padding-left: 20px;
    padding-top: 20px;

}

.answwrap {margin-top: 10px; margin-bottom: 10px;}

.answwrap .answ {
    margin-bottom: 0.5rem;    
    width: 90%;
    line-height: 3rem;
    font-size: 1.8rem;
    font-family: 'NanumSquare';
    padding-left: 20px;
    padding-top: 20px;

   
}

.answwrap .answ p
{   
    color: #1379cd;
    font-weight: 700;
    font-size: 2rem;
    
    margin-bottom: 5px;
    
    letter-spacing: -0.15rem;
    line-height: 2rem;
    border-bottom: none;
    font-family: 'NanumSquare';}






/*이하 상품 리스트 레이아웃 수정 2022 03 10 with KJS Dance*/
table.prd_info .prd_name td{padding: 0; }

table.prd_info .sale_price td.info_data{padding: 0; color: #ff6f0f; font-family: 'GoyangDeogyang';}


.product-block-inner .gallery-image{
    height: auto;
    background-color: #fff;

}

.product-block-inner .gallery-image .lwrap{
    display: flex;
    min-height: 180px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;    
  
} 
.product-block-inner .gallery-image a img{
border: none;    
height: 47vw;

}

.gallery-image > span > a{
    display: flex;
    flex-direction: column;
    height: auto;
    min-height: 40px;
}

.gallery-image > span > a >p,
.product-block-inner .price-box{
    padding-left: 5px;
    width: 90%;
   
}

.slider-item .product-block
{height: auto !important;
 min-height: 250px;
 padding-bottom: 0;   

}
.gallery-image .gallery_box_img{object-fit: cover; width: 100%; max-height: 47vw;}

.seller_name span{font-weight: 700; color: #1379cd; }
.seller_name{margin-bottom: 2rem;}
div .product_list_price{padding-left: 5px;}
.gallery-image > span > a >p.product_list_name{padding-left: 5px;}
.gallery-image > span > a >p.product_list_mdname{padding-left: 5px;}

}


/*seller_info.php */
.search_result_area{margin-top: 100px;}
.search_result_area .img {}
.search_result_area .img img{
height: 85px;
width: 85px;
border-radius: 50%;
margin-bottom: 5px;
border: 1px solid #ededed;
object-fit: cover;
}

#isotope_container2{width:100%; overflow: hidden; }
#isotope_container2 .fxx {width: 47vw; float: left;
padding: 0; max-width: none; margin-left: 2vw;
height: auto;
}
.gallery_box_img_list {height: auto;}
.gallery-image_front{width: 100%; height: 47vw; display: flex; align-content: center;}
.gallery-image_front a{height: 47vw; width: 100%; display: flex; align-content: center;}

.product-block2_mobile_box .product-image img.soldout{filter: brightness(33%);}
.product-view .product-img-box .product-image img {max-height:480px; object-fit: contain;}

.product-carousel .slider-wrapper-outer .slider-wrapper .slider-item{max-width: 80px;}



@media(min-width:769px){#isotope_container2 .fxx {width: 25%;
    float: left;
    padding: 10px 5px 15px 5px;
    border: 1px solid #fff;
    margin-left: 0;
    }
.gallery-image_front{width: 100%; height: auto; display: flex; align-content: center; margin-bottom: 1rem;}
.gallery-image_front a{height: auto; width: 100%; display: flex; align-content: center;}    
.gallery-image > span > a{
    display: flex;
    flex-direction: column;
    height: auto;
    min-height: 0px;
    line-height: 3rem;
}
.masonry-layout .fxx .product_list_price span{
    font-family: NanumSquareOTF_ac;
    font-size: 1.6rem !important;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000;
    padding: 0;
    margin: auto;
}

.fxx .gallery_box_img_list {margin-bottom: 0;}

#isotope_container2 .gallery-item{height: unset;}
#isotope_container2 .gallery-item .gallery-image{margin-bottom: unset;}

}


@media(max-width:768px){
    #isotope_container2 .gallery-item{
        width: 47vw;
    float: left;
    padding: 0;
    max-width: none;
    margin-left: 2vw;
    height: auto;
    }
#isotope_container2 .gallery-item .gallery-image{margin-bottom: 1rem;}    
    }