/* 마켓 CSS 덮기 */
.oolimbox-grid-box02 {width: 100%; padding: 0; float: none;}

.mypage_btn_header{display: none;}

.oolimbox-grid-box02{padding:0}

.nope{display: none;}

.padding_5 {padding: 0;}

td {padding: 0 !important;
    border: none !important;
}

.product_list_form{height: 160px;}
.product_list_form img{max-height: 120px;}
.trade_content{padding: 0;}

/*결제 완료됨 & 배송중 */
.order_status > .selwrap .yellow {background-color: yellow; color: black;}
/*판매 완료됨 & 배송 완료됨 */
.order_status > .selwrap .green {background-color: green;}
/*주문 취소 & 환불 관련 */
.order_status > .selwrap .vermilion {background-color: sandybrown; color: black;}
/*삭제된 상품*/
.order_status > .selwrap .grey {background-color: grey;}

.trade_content .gdscode {font-size: 1.8rem;}
.trade_content .gdsname {font-size: 2rem; color:#1379cd; font-family: 'GoyangDeogyang';}
.trade_content .cstname {font-size: 1.6rem;  font-weight: 700;}
.trade_content .csttel {font-size: 1.6rem;  font-weight: 700;}
.trade_content .gdsprice {font-size: 2rem; color:rgb(0, 0, 0); font-weight: 700;}


.product_list_form{height: auto;}
.product_list_form img{max-height: 120px;}
.order_border{margin-bottom: 10px;}
.trade_content{width: 60%; justify-content: space-evenly; display: flex; flex-direction: column; padding-left: 5%;}
.trade_content p{text-align: center; }

.product_list_form{flex-direction: row;}
    
.order_border {padding-top: 0;}

/*
.product_list_form{height: auto; display: block; max-height: none; overflow: hidden;}
*/

.product_list_form{ display: flex; justify-content: center;}
.product_list_form img{max-height: 120px;
  max-width: 120px;
  height: auto;
  width: 100%;}
.order_border{margin-bottom: 10px;}
.order_form{display: block; float: left; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; text-align: left; width: 100%;}

.trade_content p{text-align: left; display: block; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; text-align: left; line-height: 2.4rem;}

.order_form .selwrap{width: 100%; display: block; height: 30px;}
.order_form .category_select{
    width: 60px !important;
    height: 25px !important;
    border: none !important;
    border-radius: 20px !important;        
    float: left;
    pointer-events: none;
    font-size: 12px !important;
    font-weight: 400 !important;
    margin-top: 5px;
}

.order_form .goodsstock{
  width: 120px !important;
  
  border: none !important;
  border-radius: 20px !important;        
  pointer-events: none;
  font-size: 1.6rem !important;
  line-height: 1.6rem !important;
  font-weight: 400 !important;
  margin-top: 5px;
 
  color: white;

  text-align: center;
  padding: 5px 0 5px 0;        
}



@media(max-width: 768px){

  .trade_content{width: 100%;}
  .trade_content{width: 60%; padding: 0px 0px 0px 5px; display: block; float: left; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; text-align: left; margin-top: 5px;}
.mob_back
  {display:none;}
.filterwrap{margin-bottom: 20px;}



.product_list_form{height: auto;}
.product_list_form img{max-height: 120px;}
.order_border{margin-bottom: 10px;}
.trade_content{width: 100%;}
.trade_content p{text-align: center; margin: auto;}

.product_list_form{flex-direction: row;}
    
.order_border {padding-top: 0;}
.product_list_form{height: auto; display: block; max-height: none; overflow: hidden;}
.product_list_form img{max-height: 120px; display: block; float: left; width: 40%; height: 120px;}
.order_border{margin-bottom: 10px; padding-bottom: 5px;}
.order_form{display: block; float: left; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; text-align: left; width: 100%;}
.trade_content{width: 60%; padding: 0px 0px 0px 10px; display: block; float: left; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; text-align: left; margin-top: 5px;}
.trade_content p{text-align: left; margin: auto;  display: block; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; text-align: left; line-height: 2.4rem;}

.order_form .selwrap{width: 100%; display: block; height: 30px;}
.order_form .category_select{
    width: 60px !important;
    height: 25px !important;
    border: none !important;
    border-radius: 20px !important;        
    float: left;
    pointer-events: none;
    font-size: 12px !important;
    font-weight: 400 !important;
    margin-top: 5px;
}

.order_form .goodsstock{
  width: 29vw !important;
  
  border: none !important;
  border-radius: 20px !important;        
  pointer-events: none;
  font-size: 1.6rem !important;
  line-height: 1.6rem !important;
  font-weight: 400 !important;
  margin-top: 5px;
 
  color: white;

  text-align: center;
  padding: 5px 0 5px 0;        
}

}
@media(max-width: 399px){
  .order_form .goodsstock{
    width: 31vw !important;}
  }

.product_list_btn_form{}