.App_Down_Section{
    margin: 0 20px;
    overflow: hidden;
    position: relative;
}
.App_Down_Background{
    position: absolute;
    left: 0;
    top: 20%;
    width: 100%;
    height: auto;
    opacity: 0.1;
}
.App_Down_Section h2{
    position: relative;
    font-family: 'NanumSquare';
    padding: 50px 0 10px 0;
    font-size: 2rem;
    font-weight: 900;
    line-height: 3rem;
    color: #000;
}
.App_Down_Section p {
    position: relative;
    font-family: 'NanumSquare';
    padding: 0 0 20px 0;
    color: #333;
    font-size: 1.6rem;
    line-height: 2.1rem;
}
.App_Down_Section a{
    position: relative;
    padding: 0 0 10px 0;
    max-width: 120px;
}
