@charset "UTF-8";
/*common.css*/
a,
img,
label {
  display: block;
}

#content {
  width: 100%;
}

.inner {
  width: 1200px;
  margin: 0 auto;
}

.inner::after {
  content: '';
  display: block;
  clear: both;
}

.clearfix::before,
.clearfix::after {
  content: '';
  display: table;
  line-height: 0;
}

.clearfix::after {
  clear: both;
}

#wrapper {
  width: 100%;

}

#hd_pop,
#hd_wrapper,
#gnb .gnb_wrap,
#container_wr,
#ft_wr,
#container {
  width: 100%;
}

#hd,
#wrapper,
#ft {
  min-width: inherit;
}

#container {
  margin: 0;
}

#container_wr {
  margin: 0;
}

.on_mysub {
  background: #d71812;
}

/*maysubmenu S*/
#mysubmenu .tab_sub2ul {
  overflow: hidden;
  background: rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

#mysubmenu .tab_sub2ul li {
  float: left;
  width: 220px;
}

#mysubmenu .tab_sub2ul li a {
  color: #fff;
  line-height: 25px;
  padding: 15px 0;
  text-align: center;
  font-size: 18px;
  -webkit-transition: .3s;
  transition: .3s;
}

#mysubmenu .tab_sub2ul li:hover a {
  color: #d71812;
}

#mysubmenu .tab_sub2ul li.on_mysub:hover a {
  color: #fff;
}

/*maysubmenu E*/
/*maysubmenu2 S*/
#mysubmenu2 .tab_sub2ul {
  overflow: hidden;
  background: rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

#mysubmenu2 .tab_sub2ul li {
  float: left;
  padding: 0 25px;
  width: 190px;
}

#mysubmenu2 .tab_sub2ul li a {
  color: #fff;
  line-height: 25px;
  padding: 15px 0;
  text-align: center;
  font-size: 18px;
  -webkit-transition: .3s;
  transition: .3s;
}

#mysubmenu2 .tab_sub2ul li:hover a {
  color: #d71812;
}

#mysubmenu2 .tab_sub2ul li.on_mysub:hover a {
  color: #fff;
}


@media screen and (max-width: 768px) {
  #mysubmenu .tab_sub2ul li a {
    padding: 12px 0;
    font-size: 16px;
  }
  #mysubmenu2 .tab_sub2ul li a {
    padding: 12px 0;
    font-size: 16px;
  }
  #mysubmenu2 .tab_sub2ul li {
    width: 33.33%;
  }
}

@media screen and (max-width: 600px) {
  #mysubmenu .tab_sub2ul li a {
    font-size: 15px;
  }
  #mysubmenu2 .tab_sub2ul li a {
    font-size: 15px;
  }
}

@media screen and (max-width: 480px) {
  #mysubmenu .tab_sub2ul li {
    width: 50%;
  }
  #mysubmenu .tab_sub2ul li a {
    padding: 10px 0;
    font-size: 14px;
  }
  #mysubmenu2 .tab_sub2ul li a {
    padding: 10px 0;
    font-size: 12px;
  }
}

/* 팝업 */
#hd_pop {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 1000;
  width: 100%;
  height: 0;
}

@media screen and (max-width: 480px) {
  .hd_pops {
    max-width: 94% !important;
    width: auto !important;
    height: auto !important;
  }
  .hd_pops_con {
    max-width: 100% !important;
    width: auto !important;
    height: auto !important;
  }
  .hd_pops_footer .hd_pops_reject {
    font-size: 13px;
  }
  .hd_pops_footer .hd_pops_close {
    font-size: 13px;
  }
}

/*direction.css*/
/*section1 S*/
.root_daum_roughmap .wrap_controllers {
  display: none;
}

.map_adress {
  width: 100%;
  padding: 13px 0;
  background-color: #d71812;
}

.map_adress p {
  font-size: 18px;
  color: #fff;
  line-height: 25px;
  text-indent: 40px;
}

.wrap_map {
  height: 600px !important;
}

.map_explain {
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.map-txt-box {
  width: 50%;
  padding: 20px 0;
}

.map-txt-box li {
  position: relative;
  margin-bottom: 20px;
}

.map-list p {
  line-height: 18px;
  margin-top: 4px;
  color: #141414;
  margin: 20px;
}

.contact-info {
  padding-top: 20px;
  padding-left: 20px;
}

.contact-info p {
  display: block;
  font-weight: bold;
  margin-bottom: 4px;
}

.contact-info .contact-info-item {
  display: block;
  line-height: 20px;
  font-size: 15px;
  color: #666;
}

.contact-info .contact-info-txt {
  display: block;
  color: #555;
  font-weight: bold;
}

.map-transport {
  width: 50%;
}

.subway {
  overflow: hidden;
  padding: 20px 0;
}

.map_explain h5 {
  font-size: 18px;
  line-height: 25px;
  color: #333;
}

.map_explain h5::before {
  display: block;
  content: '';
  width: 13px;
  height: 13px;
  border: 2px solid #d71812;
  border-radius: 100%;
  float: left;
  margin: 7px 0;
  margin-right: 10px;
}

.map_explain .line_num {
  width: 60px;
  color: #fff;
  font-size: 16px;
  line-height: 25px;
  text-align: center;
  padding: 5px 0;
  margin-right: 15px;
}

.map_explain p {
  line-height: 25px;
  font-size: 16px;
  color: #666;
}

.sub_linewrap {
  margin: 20px;
}

.sub_linewrap > p {
  padding: 10px 0;
}

.line_box {
  overflow: hidden;
}

.subway .subway_color1 {
  background-color: #54b531;
  float: left;
}

.subway .subway_color2 {
  background-color: #2b497b;
  float: left;
}

.bus {
  overflow: hidden;
}

.bus_linewrap {
  margin: 20px;
}

.bus_linewrap > p {
  padding: 10px 0;
}

.busnum {
  float: left;
}

.busnum p {
  font-size: 16px;
  color: #666;
  float: left;
  padding-right: 20px;
  line-height: 34px;
}

.bus_linewrap .bus_color1 {
  background-color: #e26150;
  float: left;
}

.bus_linewrap .bus_color2 {
  background-color: #13a3e6;
  float: left;
}

/*section1 E*/
@media screen and (max-width: 980px) {
  .wrap_map {
    height: 500px !important;
  }
  .sect_tit h3 {
    font-size: 32px;
  }
  .map-txt-box {
    width: 100%;
  }
  .map-transport {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .wrap_map {
    height: 400px !important;
  }
  .map_adress p {
    font-size: 16px;
  }
}

@media screen and (max-width: 600px) {
  .wrap_map {
    height: 320px !important;
  }
  .map_adress p {
    font-size: 14px;
    word-break: keep-all;
    text-indent: 20px;
  }
}

@media screen and (max-width: 480px) {
  .wrap_map {
    height: 250px !important;
  }
  .map_adress p {
    font-size: 13px;
    line-height: 15px;
    text-indent: 0;
    text-align: center;
  }
  .map_adress {
    padding: 11px 5px;
  }
  .map_explain h5 {
    font-size: 16px;
  }
  .map_explain p {
    font-size: 14px;
    line-height: 20px;
  }
  .map_explain .line_num {
    font-size: 14px;
    line-height: 20px;
    margin-right: 7px;
    padding: 3px 0;
  }
  .busnum p {
    line-height: 25px;
  }
  .map_explain h5::before {
    width: 11px;
    height: 11px;
  }
  .sect_tit h3 {
    font-size: 24px;
    line-height: 32px;
    word-break: keep-all;
  }
  .sect_tit p {
    font-size: 14px;
    line-height: 20px;
    word-break: keep-all;
  }
  .sect_tit p br {
    display: none;
  }
}
