/*introduce.css*/
body {
    overflow-x: hidden;
  }
  
  #container_title {
    display: none;
  }
  
  /*visual S*/
  .intro_visual_img {
    width: 100%;
    height: 360px;
    background-image: url("../img/company/banner.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  
  .intro_visual_text {
    color: #fff;
    padding: 100px 15px;
  }
  
  .intro_visual_text h6 {
    font-size: 40px;
    line-height: 50px;
    text-align: center;
    color: #fff;
  }
  
  .intro_visual_text p {
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #fff;
  }
  
  /*visual E*/
  /*section1 S*/
  #intro_wrap .sect1 {
    padding: 100px 0;
  }
  
  .sect_tit h3 {
    font-size: 34px;
    color: #333;
    text-align: center;
    line-height: 40px;
    font-weight: 400;
  }
  
  .sect_tit h3 span {
    font-weight: bold;
  }
  
  .sect_tit p {
    font-size: 16px;
    line-height: 22px;
    color: #666;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 70px;
  }
  
  .sect1_con {
    width: 100%;
  }
  
  .sect1_img img {
    width: 100%;
  }
  
  .intro_item .intro_tit {
    font-size: 26px;
    color: #000;
    margin: 88px 0 40px;
    position: relative;
  }
  
  .intro_item .intro_tit span {
    padding: 0 35px;
    position: relative;
  }
  
  .intro_item .intro_tit span:before {
    content: "";
    width: 2px;
    height: 10px;
    background: #ccc;
    position: absolute;
    left: 14px;
    top: 15px;
  }
  
  .intro_item .intro_tit span:after {
    content: "";
    width: 2px;
    height: 10px;
    background: #ccc;
    position: absolute;
    right: 14px;
    top: 15px;
  }
  
  .intro_item ul {
    overflow: hidden;
    margin: 0 -16px;
  }
  
  .intro_item li {
    width: 33.3333%;
    float: left;
    margin: 10px 0;
  }
  
  .intro_item li > div {
    padding: 0 16px;
  }
  
  .intro_item li > div .intro_con_box {
    position: relative;
  }
  
  .intro_item li > div .intro_con_box img {
    width: 100%;
  }
  
  .intro_item li > div .intro_con_txt {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 12px 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border-bottom: 1px solid #dcdcdc;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  
  .intro_item li > div .intro_con_txt .intro_con_sub_tit {
    font-size: 16px;
    color: #646464;
  }
  
  .intro_item li > div .intro_con_txt a {
    font-size: 15px;
    color: #141414;
    display: block;
    padding: 6px 30px;
    border: 1px solid #646464;
  }
  
  .intro_item li > div .intro_con_txt a span {
    padding-left: 30px;
    background: url(../img/company/more-arrow.png) no-repeat;
    letter-spacing: 0;
    background-size: contain;
    background-size: 14px;
    background-position: 0 center;
  }
  
  /*section1 E*/
  /*section2 S*/
  #intro_wrap .sect2 {
    background-image: url("../img/company/section2_bg_img.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 100px 0;
    height: inherit;
  }
  
  #intro_wrap .sect2 .sect_tit h3 {
    color: #fff;
  }
  
  #intro_wrap .sect2 .sect_tit h3 span {
    color: #fff;
  }
  
  #intro_wrap .sect2 .sect_tit p {
    color: #fff;
  }
  
  #intro_wrap .sect2_con {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0 -10px;
  }
  
  #intro_wrap .sect2_con li {
    width: 25%;
    padding: 10px;
    -webkit-transition: .3s;
    transition: .3s;
  }
  
  #intro_wrap .sect2_con li .list_box {
    border: 1px solid #999;
    padding-bottom: 40px;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    height: 100%;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  
  /* #intro_wrap .sect2_con li:last-child {
      border-right: none;
  } */
  #intro_wrap .sect2_con li .list_box:hover {
    background: rgba(215, 24, 18, 0.4);
  }
  
  #intro_wrap .sect2_con li .list_box:hover .sect2_line {
    background: #fff;
  }
  
  #intro_wrap .sect2_con .sect2_img {
    padding: 25px 0;
  }
  
  #intro_wrap .sect2_con .sect2_icon {
    width: 80px;
    height: 80px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  
  #intro_wrap .sect2_con .icon1 {
    background-image: url("../img/company/intro_icon1.png");
  }
  
  #intro_wrap .sect2_con .icon2 {
    background-image: url("../img/company/intro_icon2.png");
  }
  
  #intro_wrap .sect2_con .icon3 {
    background-image: url("../img/company/intro_icon3.png");
  }
  
  #intro_wrap .sect2_con .icon4 {
    background-image: url("../img/company/intro_icon4.png");
  }
  
  #intro_wrap .sect2_con .sect2_text h5 {
    color: #fff;
    line-height: 25px;
    font-size: 18px;
    text-align: center;
  }
  
  #intro_wrap .sect2_con .sect2_line_wrap {
    padding: 0 0 20px;
  }
  
  #intro_wrap .sect2_con .sect2_line {
    width: 35px;
    height: 2px;
    background: #d71812;
    margin: 0 auto;
    -webkit-transition: .3s;
    transition: .3s;
  }
  
  #intro_wrap .sect2_con .sect2_text p {
    color: #fff;
    line-height: 22px;
    font-size: 14px;
    text-align: center;
  }
  
  /*section2 E*/
  /*history S*/
  .history_bg {
    background-color: #fbfbfb;
  }
  
  .history-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 -10px;
    padding-top: 60px;
  }
  
  .history-box .sect1_con {
    width: 50%;
    padding: 0 10px;
  }
  
  .history-box .sect1_con .sect1_img {
    margin-bottom: 16px;
  }
  
  .history_sect2 {
    padding: 100px 0;
  }
  
  .history_timeline {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    list-style: none;
  }
  
  .history_timeline > li {
    padding: 25px 0;
    position: relative;
    /*     -webkit-transform: translateX(-20px);
      -ms-transform: translateX(-20px);
      transform: translateX(-20px); */
    width: 50%;
  }
  
  .history_timeline:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 2px;
    background-color: #d71812;
  }
  
  .history_timeline > .history_img {
    position: relative;
  }
  
  .history_timeline > .history_img::before {
    display: none;
  }
  
  .history_timeline > .history_list > ul > li {
    text-align: right;
  }
  
  .history_timeline .history_list {
    text-align: right;
    padding-right: 40px;
  }
  
  .history_timeline .his_img {
    width: 400px;
    position: absolute;
    top: 0;
    left: 40px;
  }
  
  .history_timeline img {
    width: 100%;
    height: auto;
  }
  
  .history_timeline .history_list:before {
    content: "";
    width: 22px;
    height: 2px;
    position: absolute;
    top: 41px;
    right: 0;
    background: #d71812;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  
  .history_timeline h3 {
    font-size: 28px;
    margin-bottom: 10px;
  }
  
  .history_timeline p {
    font-size: 20px;
    line-height: 28px;
  }
  
  .history_timeline .list_right {
    -ms-flex-item-align: end;
    align-self: flex-end;
    text-align: left;
    /*     -webkit-transform: translateX(21px);
      -ms-transform: translateX(21px);
      transform: translateX(21px); */
    padding-left: 40px;
  }
  
  .history_timeline > .list_right > ul > li {
    text-align: left;
  }
  
  .history_timeline .list_right:before {
    left: 0;
  }
  
  #intro_wrap .history_timeline h3 {
    font-size: 28px;
    line-height: 30px;
  }
  
  #intro_wrap .history_timeline .history_list h3::before {
    display: block;
    content: '';
    width: 13px;
    height: 13px;
    border-radius: 100%;
    border: 3px solid #d71812;
    float: right;
    margin: 9px -21px;
  }
  
  #intro_wrap .history_timeline .list_right h3::before {
    display: block;
    content: '';
    width: 13px;
    height: 13px;
    border-radius: 100%;
    border: 3px solid #d71812;
    float: left;
    margin: 10px -21px;
  }
  
  #intro_wrap .history_timeline li ul li {
    font-size: 16px;
    line-height: 20px;
    color: #878787;
    padding: 3px 0;
  }
  
  #intro_wrap .history_timeline li ul li span {
    font-weight: bold;
    color: #141414;
    font-size: 18px;
    letter-spacing: -1px;
    display: inline-block;
    padding-right: 8px;
  }
  
  /*history E*/
  @media screen and (max-width: 1250px) {
    #intro_wrap .sect_tit p {
      word-break: keep-all;
    }
    #intro_wrap .sect_tit p br {
      display: none;
    }
  }
  
  @media screen and (max-width: 1199px) {
    #intro_wrap .sect2_con .sect2_text p {
      word-break: keep-all;
      max-width: 80%;
      margin: 0 auto;
    }
    #intro_wrap .sect2_con .sect2_text p br {
      display: none;
    }
    .intro_item li > div .intro_con_txt a {
      font-size: 11px;
      padding: 7px 15px;
    }
    .intro_item li > div .intro_con_txt .intro_con_sub_tit {
      padding: 10px 0;
    }
  }
  
  @media screen and (max-width: 980px) {
    #intro_wrap .sect2_con li {
      width: 50%;
    }
    .sect_tit h3 {
      font-size: 32px;
    }
    .history_timeline .history_list {
      -ms-flex-item-align: end;
      align-self: flex-end;
      text-align: left;
      padding-right: 0;
      padding-left: 40px;
    }
    .history_timeline > .history_list > ul > li {
      text-align: left;
    }
    .history_timeline .history_list:before {
      left: 0;
    }
    #intro_wrap .history_timeline .history_list h3::before {
      float: left;
    }
    .history_timeline .his_img {
      width: 350px;
      top: -200px;
    }
    .history_timeline {
      padding-top: 200px;
    }
    .history_wrap {
      margin-left: -700px;
    }
  }
  
  @media screen and (max-width: 768px) {
    #intro_wrap .sect_tit h3 {
      word-break: keep-all;
    }
    .intro_visual_text h6 {
      font-size: 36px;
    }
    .intro_visual_text p {
      font-size: 17px;
    }
    #intro_wrap .sect2_con .sect2_text p {
      font-size: 13px;
    }
    #intro_wrap .sect2_con .sect2_text h5 {
      font-size: 17px;
    }
    .history_wrap {
      margin-left: -600px;
    }
    #intro_wrap .history_timeline li ul li {
      font-size: 17px;
    }
    #intro_wrap .history_timeline h3 {
      font-size: 26px;
    }
    .intro_item ul {
      margin: 0 -6px;
    }
    .intro_item li {
      float: left;
      margin: 10px 0;
    }
    .intro_item li > div {
      padding: 0 6px;
    }
    .intro_item .intro_tit {
      margin: 52px 0 18px;
      font-size: 18px;
    }
    .intro_item li > div .intro_con_txt .intro_con_sub_tit {
      width: 100%;
    }
    .intro_item .intro_tit span:before {
      content: "";
      width: 2px;
      height: 10px;
      background: #ccc;
      position: absolute;
      left: 14px;
      top: 8px;
    }
    .intro_item .intro_tit span:after {
      content: "";
      width: 2px;
      height: 10px;
      background: #ccc;
      position: absolute;
      right: 14px;
      top: 8px;
    }
    .history-box {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      margin: 0 -10px;
      padding-top: 60px;
    }
    .history-box .sect1_con {
      width: 100%;
      padding: 0 10px;
    }
    .history-box .sect1_con + .sect1_con {
      margin-top: 20px;
    }
    .history-box .sect1_con .sect1_img {
      margin-bottom: 16px;
    }
  }
  
  @media screen and (max-width: 650px) {
    .history_wrap {
      margin-left: -520px;
    }
  }
  
  @media screen and (max-width: 600px) {
    .intro_visual_text h6 {
      font-size: 30px;
      line-height: 45px;
    }
    .intro_visual_text p {
      font-size: 16px;
    }
  }
  
  @media screen and (max-width: 570px) {
    .history_wrap {
      margin-left: -430px;
    }
  }
  
  @media screen and (max-width: 480px) {
    #intro_wrap .sect1 {
      padding: 75px 0;
    }
    #intro_wrap .sect2_con li {
      width: 100%;
    }
    #intro_wrap .sect2_con li:first-child {
      border-right: none;
    }
    .intro_visual_text h6 {
      font-size: 26px;
      line-height: 45px;
    }
    .intro_visual_text p {
      font-size: 14px;
      line-height: 20px;
    }
    .intro_visual_text {
      padding: 75px 15px;
    }
    .sect_tit h3 {
      font-size: 24px;
      line-height: 32px;
      word-break: keep-all;
    }
    .sect_tit p {
      font-size: 14px;
      line-height: 20px;
      word-break: keep-all;
    }
    .sect_tit p br {
      display: none;
    }
    #intro_wrap .sect2_con .sect2_text h5 {
      font-size: 16px;
    }
    #intro_wrap .sect2_con .sect2_text p {
      font-size: 12px;
      line-height: 20px;
      word-break: keep-all;
    }
    .intro_item li {
      width: 100%;
    }
    .intro_item li > div .intro_con_txt .intro_con_sub_tit {
      width: auto;
    }
    .history_wrap {
      margin-left: -400px;
    }
    #intro_wrap .history_timeline li ul li {
      font-size: 14px;
    }
    #intro_wrap .history_timeline h3 {
      font-size: 22px;
    }
    .history_timeline .his_img {
      width: 300px;
      left: 40px;
    }
    #intro_wrap .history_timeline .list_right h3::before {
      margin: 11px -20px;
      width: 11px;
      height: 11px;
    }
    #intro_wrap .history_timeline .history_list h3::before {
      margin: 11px -27px;
      width: 11px;
      height: 11px;
    }
  }
  
  @media screen and (max-width: 430px) {
    #intro_wrap .history_timeline li ul li {
      word-break: keep-all;
    }
    .history_wrap {
      margin-left: -300px;
    }
    .history_timeline .his_img {
      top: -120px;
      width: 245px;
    }
    .history_timeline {
      padding-top: 120px;
    }
  }
  
  @media screen and (max-width: 360px) {
    .history_wrap {
      margin-left: -275px;
    }
    #intro_wrap .history_timeline h3 {
      font-size: 20px;
    }
    #intro_wrap .history_timeline li ul li {
      font-size: 13px;
    }
  }
  
  /*# sourceMappingURL=widgets.css.map */
  